body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#menos{
  background-color: red;
  color: white;
  border-radius: 30%;
  height: 5vh;
  width: 5vh;
  content: "-";
}

#mais{
  background-color: green;
  color: white;
  border-radius: 30%;
  height: 5vh;
  width: 5vh;
}
#ladoLado{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 700px;
  margin: auto;
}

#Centralizado{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 25%;
  margin: auto;
  
  
}
h1{
  padding: 5px;
  margin: 5px auto;
  width: 300px;
  justify-items: center;
  box-shadow: 0 1px 4px #000;
  text-align: center;
}
h2{
  padding: 5px;
  margin: 5px auto;
  width: 300px;
  justify-items: center;
  box-shadow: 0 1px 4px #000;
  text-align: center;
}

#resetar{
  background-color: blue;
  color: white;
  border-radius: 10%;
  height: 5vh;
  width: 10vh;
  
  
}
.photo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
  margin: 15px  auto;
}

.avatar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
  margin: 15px  auto;
}

.Calculadora{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 34vh;
  height: 50vh;
  background-color: #000000;
  margin: 20px auto;
  padding: 5px;
}

#Bt{
  background-color:#333333;
  color: white;
  border-radius: 20%;
  height: 6vh;
  width: 8vh;
  margin: 2px;
  font-size: xxx-large;


}

#Btz{
  background-color:#333333;
  color: white;
  border-radius: 20%;
  height: 6vh;
  width: 16vh;
  margin: 3px;
  font-size: xxx-large;


}
#Btc{
  background-color:#a5a5a5;
  color: white;
  border-radius: 20%;
  height: 6vh;
  width: 8vh;
  margin: 2px;
  font-size: xxx-large;

}
#Bta{
  background-color:#ff9a00;
  color: white;
  border-radius: 20%;
  height: 6vh;
  width: 8vh;
  margin: 3px;
  font-size: xxx-large;


}
#res{
  width: 35vh;
  height: 6vh;
  color: white;
  font-size: xxx-large;
  margin: 10px;
}

.memoria{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width:650px;
  height: 92vh;
  background-color: #000;
  margin: 10px auto;
}

#memo{
  color: white;
  width: 600px;
  height: 4vh;
}
#card{
  width:150px;
  height: 18vh;
  margin: 6px;
  background-color: white;
  color: white;
}

#Bcard{
  background-color:#130f86;
  color: white;
  border-radius: 20%;
  height: 6vh;
  width: 40vh;
  margin: 3px;
  font-size: xxx-large;
}